@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
*{
    font-family: "Pixelify Sans", sans-serif;
}
nav{
   & .container-fluid{
    & a{
    color: rgb(186, 255, 173);
}}
}
main{
    background-image: linear-gradient(to bottom,#198754,#2bb072,#ffffffa0);
}
#rand{
    width: 240px;
    display: flex;
    margin: auto;
}

#buttons{
    display: flex;
    margin: auto;   
    justify-content: center;
}
#bdPreview{
    padding: 30px 310px 310px 310px;
}
img{
    border-radius: 10px;
}
#carouselExample{
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .navbar-toggler{
        margin-left: 200px;
    }
    #bdPreview{
    padding: 10px;
    }
    
    .container {
    flex-direction: column;
  }
}
