@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
*{
    font-family: "Pixelify Sans", sans-serif;
}
nav{
   & .container-fluid{
    & a{
    color: rgb(186, 255, 173);
}}
}
main{
    background-image: linear-gradient(to bottom,#198754,#34c98393,#ffffff);
}
#rand{
    width: 240px;
    display: flex;
    margin: auto;
}

#buttons{
    display: flex;
    margin: auto;   
    justify-content: center;
}
#bdPreview{
    padding: 30px 310px 110px 310px;
}
img{
    border-radius: 10px;
}
#carouselExample{
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}
#whatis{
    text-align: center;
    padding: 30px 310px 110px 310px;
    
}

#whatisPhone{
    display: none;
}

@media (max-width: 600px) {
    .navbar-toggler{
        margin-left: 200px;
    }
    #bdPreview{
    padding: 10px;
    }
    
    .container {
    flex-direction: column;
  }

  #whatis{
    display: none;
  }

  #whatisPhone{
    display: block;
    text-align: center;
    padding: 0px 15px 0px 15px;
  }
}

